<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                @Html.ActionLink("TeamConnect", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.ActionLink("Sign-up", "EmployeeRecord", "Employee")</li>
                    <li>@Html.ActionLink("Sign-up", "Registration", "Employee")</li>
                    <li>@Html.ActionLink("Profile", "UserProfile", "Employee")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Employee")</li>

                </ul>
            </div>

        </div>
    </div>
    <div class="wrapper">
        <div class="sidebar">
            @Html.Partial("_Sidebar_layout")
        </div>
        <div class="main-content">
            <h4>@ViewBag.Message</h4>
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer class="jumbotron">
        <div style="margin:20px;">
            <p>&copy; @DateTime.Now.Year - TeamConnect Application</p>
            <span>
                <i class="fa fa-facebook fa-3x">  </i>
                <i class="fa fa-instagram fa-3x"></i>
                <i class="fa fa-twitter fa-3x"></i>
            </span>
        </div>

    </footer>



</body>
</html>